.main-container

	//- The bomb image
	webicon.bomb(
	icon="bomb")

	//- The text over the bomb
	bomb-screen(
	bomb-screen-text="{{ vm.data.bombScreenText }}")

	//- The text over the computer screen
	computer-screen(
	computer-screen-text="{{ vm.data.computerScreenText }}"
	computer-screen-wait-input="{{ vm.data.computerScreenWaitInput }}")