/.tmp/
/.sass-cache/
/bower_components/
/node_modules/
/release/
/test/
/preprod/
/prod/
/.yo-rc.json
/.idea/workspace.xml
/package-lock.json
/debug.log
/app/languages/min/
/app/styles/css/
/app/config/target.config.js
/app/scripts/hobbynote-test-app.js
/app/scripts/hobbynote-test-app.js.map
/app/scripts/hobbynote-test-app.min.js
/app/scripts/hobbynote-test-app.min.js.map
/app/**/*.html
/app/manifest.json
/app/config/tpls/vendors-generated.tpl.html
/app/scripts/vendors.min.js
